<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!--为了防止进程退出时，内存中的数据丢失，请加上此选项-->
    <shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook"/>

    <jmxConfigurator/>

    <springProperty scope="context" name="activeProfile" source="spring.profiles.active" defaultValue="local"/>

    <property name="LOG_PATH" value="logs/"/>
    <!--Console配置-->
    <property name="CONSOLE_LOG_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{30}.%M:%L - %msg %n"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <!-- 时间滚动输出 level为 TRACE 日志 -->
    <appender name="TRACE_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--日志文件输出格式-->
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
            <charset>UTF-8</charset> <!-- 此处设置字符集 -->
        </encoder>
        <!-- 日志记录器的滚动策略，按日期，按大小记录 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- 日志文件输出的文件名，%i：文件名从0开始，当单个文件超过maxFileSize即1M时，新建一个1的文件，依次累加 -->
            <FileNamePattern>${LOG_PATH}/trace/log-trace-%d{yyyy-MM-dd}.%i.log.zip</FileNamePattern>
            <maxFileSize>100MB</maxFileSize>
            <!--日志文件保留天数 -->
            <maxHistory>30</maxHistory>
            <!-- 日志总大小 -->
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <!-- 此日志文件只记录trace级别的 -->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>trace</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <!-- 时间滚动输出 level为 DEBUG 日志 -->
    <appender name="DEBUG_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--日志文件输出格式-->
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
            <charset>UTF-8</charset> <!-- 此处设置字符集 -->
        </encoder>
        <!-- 日志记录器的滚动策略，按日期，按大小记录 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- 日志文件输出的文件名，%i：文件名从0开始，当单个文件超过maxFileSize即1M时，新建一个1的文件，依次累加 -->
            <FileNamePattern>${LOG_PATH}/debug/log-debug-%d{yyyy-MM-dd}.%i.log.zip</FileNamePattern>
            <maxFileSize>100MB</maxFileSize>
            <!--日志文件保留天数 -->
            <maxHistory>30</maxHistory>
            <!-- 日志总大小 -->
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <!-- 此日志文件只记录debug级别的 -->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>debug</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <!-- 时间滚动输出 level为 INFO 日志 -->
    <appender name="INFO_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--日志文件输出格式-->
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
            <charset>UTF-8</charset> <!-- 此处设置字符集 -->
        </encoder>
        <!-- 日志记录器的滚动策略，按日期，按大小记录 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- 日志文件输出的文件名，%i：文件名从0开始，当单个文件超过maxFileSize即1M时，新建一个1的文件，依次累加 -->
            <FileNamePattern>${LOG_PATH}/info/log-info-%d{yyyy-MM-dd}.%i.log.zip</FileNamePattern>
            <maxFileSize>100MB</maxFileSize>
            <!--日志文件保留天数 -->
            <maxHistory>30</maxHistory>
            <!-- 日志总大小 -->
            <totalSizeCap>10GB</totalSizeCap>
        </rollingPolicy>
        <!-- 此日志文件只记录info级别的 -->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>info</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <!-- 时间滚动输出 level为 WARN 日志 -->
    <appender name="WARN_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--日志文件输出格式-->
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
            <charset>UTF-8</charset> <!-- 此处设置字符集 -->
        </encoder>
        <!-- 日志记录器的滚动策略，按日期，按大小记录 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- 日志文件输出的文件名，%i：文件名从0开始，当单个文件超过maxFileSize即1M时，新建一个1的文件，依次累加 -->
            <FileNamePattern>${LOG_PATH}/warn/log-warn-%d{yyyy-MM-dd}.%i.log.zip</FileNamePattern>
            <maxFileSize>100MB</maxFileSize>
            <!--日志文件保留天数 -->
            <maxHistory>30</maxHistory>
            <!-- 日志总大小 -->
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <!-- 此日志文件只记录warn级别的 -->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>warn</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <!-- 时间滚动输出 level为 ERROR 日志 -->
    <appender name="ERROR_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--日志文件输出格式-->
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
            <charset>UTF-8</charset> <!-- 此处设置字符集 -->
        </encoder>
        <!-- 日志记录器的滚动策略，按日期，按大小记录 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- 日志文件输出的文件名，%i：文件名从0开始，当单个文件超过maxFileSize即1M时，新建一个1的文件，依次累加 -->
            <FileNamePattern>${LOG_PATH}/error/log-error-%d{yyyy-MM-dd}.%i.log.zip</FileNamePattern>
            <maxFileSize>100MB</maxFileSize>
            <!--日志文件保留天数 -->
            <maxHistory>30</maxHistory>
            <!-- 日志总大小 -->
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <!-- 此日志文件只记录ERROR级别的 -->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>error</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <!--开发环境:打印控制台-->
    <springProfile name="local">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="DEBUG_FILE"/>
            <appender-ref ref="TRACE_FILE"/>
            <appender-ref ref="INFO_FILE"/>
            <appender-ref ref="WARN_FILE"/>
            <appender-ref ref="ERROR_FILE"/>
        </root>
    </springProfile>

    <!--开发环境:打印控制台-->
    <springProfile name="dev">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="DEBUG_FILE"/>
            <appender-ref ref="INFO_FILE"/>
            <appender-ref ref="WARN_FILE"/>
            <appender-ref ref="ERROR_FILE"/>
        </root>
    </springProfile>

    <!--开发环境:打印控制台-->
    <springProfile name="uat">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="DEBUG_FILE"/>
            <appender-ref ref="INFO_FILE"/>
            <appender-ref ref="WARN_FILE"/>
            <appender-ref ref="ERROR_FILE"/>
        </root>
    </springProfile>

    <!--生产环境:输出到文件-->
    <springProfile name="prd">
        <root level="INFO">
            <appender-ref ref="DEBUG_FILE"/>
            <appender-ref ref="INFO_FILE"/>
            <appender-ref ref="ERROR_FILE"/>
        </root>
    </springProfile>

    <!--    <property name="LOG_DIR" value="/app/logs/war-map/expansion"/>-->

    <!--    &lt;!&ndash;Console配置&ndash;&gt;-->
    <!--    <property name="CONSOLE_LOG_PATTERN"-->
    <!--              value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{30}.%M:%L - %msg %n"/>-->

    <!--    &lt;!&ndash; Debug配置 &ndash;&gt;-->
    <!--    <property name="DEBUG_LOG_FILE" value="${LOG_DIR}/expansion-debug.log"/>-->
    <!--    <property name="PROJECT_LOG_FILE" value="${LOG_DIR}/expansion.log"/>-->
    <!--    <property name="DEBUG_LOG_PATTERN"-->
    <!--              value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{30}.%M:%L - %msg %n"/>-->
    <!--    <property name="PROJECT_LOG_PATTERN"-->
    <!--              value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{30}.%M:%L - %msg %n"/>-->

    <!--    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">-->
    <!--        <encoder>-->
    <!--            <pattern>${CONSOLE_LOG_PATTERN}</pattern>-->
    <!--            <charset>utf8</charset>-->
    <!--        </encoder>-->
    <!--    </appender>-->

    <!--    <appender name="DEBUG_LOG_APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
    <!--        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
    <!--            <fileNamePattern>${DEBUG_LOG_FILE}.%d{yyyy-MM-dd}</fileNamePattern>-->
    <!--            <maxHistory>7</maxHistory>-->
    <!--        </rollingPolicy>-->
    <!--        <encoder>-->
    <!--            <pattern>${DEBUG_LOG_PATTERN}</pattern>-->
    <!--            <charset>UTF-8</charset>-->
    <!--        </encoder>-->
    <!--    </appender>-->

    <!--    <appender name="PROJECT_LOG_APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
    <!--        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
    <!--            <fileNamePattern>${PROJECT_LOG_FILE}.%d{yyyy-MM-dd}</fileNamePattern>-->
    <!--            <maxHistory>7</maxHistory>-->
    <!--        </rollingPolicy>-->
    <!--        <encoder>-->
    <!--            <pattern>${PROJECT_LOG_PATTERN}</pattern>-->
    <!--            <charset>UTF-8</charset>-->
    <!--        </encoder>-->
    <!--    </appender>-->

    <!--    <logger name="PROJECT_LOG" additivity="false">-->
    <!--        <level value="INFO"/>-->
    <!--        <appender-ref ref="PROJECT_LOG_APPENDER"/>-->
    <!--    </logger>-->

    <!--    <springProfile name="local">-->
    <!--        <root level="DEBUG">-->
    <!--            <appender-ref ref="DEBUG_LOG_APPENDER"/>-->
    <!--            <appender-ref ref="CONSOLE"/>-->
    <!--        </root>-->
    <!--    </springProfile>-->

    <!--    <springProfile name="!prd">-->
    <!--        <root level="INFO">-->
    <!--            <appender-ref ref="DEBUG_LOG_APPENDER"/>-->
    <!--            <appender-ref ref="CONSOLE"/>-->
    <!--        </root>-->
    <!--    </springProfile>-->

    <!--    <springProfile name="prd">-->
    <!--        <root level="INFO">-->
    <!--            <appender-ref ref="DEBUG_LOG_APPENDER"/>-->
    <!--        </root>-->
    <!--    </springProfile>-->

</configuration>
