<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhangzhuorui.framework.rbacsystem.mapper.ZtExcludeInfoMapper">
  <resultMap id="BaseResultMap" type="com.zhangzhuorui.framework.rbacsystem.entity.ZtExcludeInfo"
  extends="com.zhangzhuorui.framework.rbacsystem.extenduse.ZtBaseRbacResultMapMapper.ZtBaseRbacLongIdResultMap"
  >
    <!--@mbg.generated-->
    <!--@Table zt_exclude_info-->

    <result column="user_code" jdbcType="VARCHAR" property="userCode" />
    <result column="exclude_code" jdbcType="VARCHAR" property="excludeCode" />
    <result column="exclude_type" jdbcType="VARCHAR" property="excludeType" />







  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, user_code, exclude_code, exclude_type, gmt_create, gmt_update, created_by, updated_by, 
    remark, created_by_name, updated_by_name
  </sql>
</mapper>